@keyframes wave {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}
.animate-wave-slow {
  animation: wave 12s linear infinite;
}
.animate-wave-fast {
  animation: wave 6s linear infinite;
}
 @keyframes fadeUp {
      from {opacity: 0; transform: translateY(20px);}
      to {opacity: 1; transform: translateY(0);}
    }
    .fade-up { animation: fadeUp 0.8s ease-out forwards; }